@use "../../../styles/mixin";
@use "../../../styles/color" as color;

.input__container {
  position: relative;
  padding-top: 0.5rem;
  width: 100%;
  height: 65px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f5f8fa;
  border-radius: 2px 2px 4px 4px;
}

.input__label {
  margin: 0 1rem;
  @include mixin.font-setting(0.8rem, 400, color.$gray-10);
}

.input {
  margin: 0 1rem;
  padding: 0;
  border: none;

    background-color: inherit;
  @include mixin.font-setting(1rem, 400, color.$gray-10);
}

.input::placeholder {
  @include mixin.font-setting(0.8rem, 400, color.$gray-6);
}
