@use "../../../styles/mixin";
@use "../../../styles/color" as color;

.btn__pill__large {
  width: 100%;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: color.$brand-color;
  @include mixin.font-setting(1.25rem, 400, color.$gray-1);
  border-radius: 50px;
  cursor: pointer;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: unset;

  p {
    @include mixin.font-setting(1rem, 400, #0062ff);
    border-bottom: 1px solid #0062ff;
    cursor: pointer;
  }
}